FORMAT: 1A
HOST: https://api.classera.com/

# Classera

Classera API allows you to connect your website or application with Classera to provide single sign-on, read/update user information and content, etc.

The API attempts to conform to the RESTful design principles. You interact with the resources exposed via the API by accessing resource collection and element URIs using the HTTP verbs (GET, POST, PUT, and DELETE). 
Classera REST APIs provides programmatic access to read and write Classera data, such as (User info, courses, lectures, learning objects, etc.). 
Classera REST API identifies applications and users using OAuth2.
Classera returns JSON data via its RESTful API.

#OAuth
Use our OAuth endpoints to connect users to classera and send secure, authorized requests to the classera API.

#REST APIs
The REST APIs provides programmatic access to read and write classera data.read users courses and lectures, and more. The REST API identifies classera applications and users using OAuth2; responses are available in JSON.

## Group Users

Resources related to users in the API.

## Users Login [/users/users_login?access_token=your_access_token]

### Login [POST]

This action allows your website to login directly to classera system from your website.

+ username (string) - The username, login name, email, national ID
+ password (string) - password.

+ Request (application/json)

        {
            "username": "username",
            "password": "password"
        }


        
+ Response 200 (application/json)

        {"0":"https:\/\/me.classera.com\/users\/api_auth_login\/5fcfd17dd69de6527882650daccc4f03","1":{"User":{"id":"78785","username":"etss0001","role_id":"6"}},"status":"true","auth_token":"43b29ce52639ea06c991d0c6b86170c1"}
       
## Logout   [/Users/logout?Authtoken=ebe49b73134fd0c1844dff2b30a43a81 &access_token=your_access_token]

+ Parameters :
    + Authtoken: "ebe49b73134fd0c1844dff2b30a43a81" (required, text) - Authtoken for user 
    
### Logout  [POST]
This action allows to logout from application   .

+ Authtoken: (text) - Authtoken

+ Response 200 (application/json)
        
        {"message": "Logged out" }         
   
## Create Users [/users/create_user?access_token=your_access_token]

### Create User [POST]

This action allows you to create student, teacher and guardian account to classera system from your website.

Notice level_id is required only when role id = 6 (student)

+ username (string, required) - if username didn't set it will be generate automatically 
+ school_id (int, required) - school_id 
+ level_id (int, required only if user is student) - level_id 
+ role_id (int, required) - role_id "Parents" => 3, "Teachers" => 4 , "Students" => 6 , "Accountants" => 7, "Managers" => 8, "Advisers" => 9, "Financial Administrators" => 10, "Teacher Supervisors" => 11, "Floor Supervisors" => 12, "Kagan Coaches" => 13
+ number (string, required) - number = government_id 
+ password (string, required) - if password didn't set it will be generate automatically
+ first_name (string, required) - first_name 
+ father_name (string) - father_name 
+ grandfather_name (string) - grandfather_name 
+ family_name (string, required) - family_name 
+ address (string) - address 
+ phone_number (string) - phone_number 
+ mobile_number (string) - mobile_number 
+ email (string) - email 
+ place_of_birth (int) - place_of_birth 
+ date_of_birth (date) - date_of_birth YYYY-MM-DD 
+ guardian_user_id (int) - required only if role is student (6) and you want to link student with parent account  (Parents)
+ mother_mobile (string) 
+ student_user_id (int) - required only if role_id is guardian (3) and you want to link parent with student account (Parents)
+ login_name (string) - login_name
+ gender intger [1=> male, 2=> female]
+ arabic_name (string) 


+ Response 200 (application/json)

        {"message":"user has been saved","id":12340} 

## Pioneer create User [/users/pioneer_create_user?access_token=your_access_token]

### Pioneer Create User [POST]

This action allows you to create student, teacher and guardian account to classera system from your website.

Notice-1: level_id is required only when role id = 6 (student)

Notice-2: student_pioneer_id is required only when role id = 3 (Parent)

Notice-3: student_government_id is required only when role id = 3 (Parent)


+ pioneer_id (string, integr required) - pioneer_id
+ government_id (string, integr required) - government_id
+ school_pioneer_id (string, integr required) - school_pioneer_id 
+ level_pioneer_id (string, integr required) - level_pioneer_id 
+ stage_pioneer_id (string, integr required) - stage_pioneer_id 
+ nationality_pioneer_id (string) - nationality_pioneer_id

+ role_id (int, required) - role_id "Parents" => 3, "Teachers" => 4 , "Students" => 6 , "Accountants" => 7, "Managers" => 8, "Advisers" => 9, "Financial Administrators" => 10, "Teacher Supervisors" => 11, "Floor Supervisors" => 12, "Kagan Coaches" => 13
+ password (string, required) - password 
+ first_name (string, required) - first_name 
+ father_name (string) - father_name 
+ grandfather_name (string) - grandfather_name 
+ family_name (string, required) - family_name 
+ address (string) - address 
+ phone_number (int) - phone_number 
+ mobile_number (int) - mobile_number 
+ email (string) - email 
+ place_of_birth (string) - place_of_birth 
+ date_of_birth (date) - date_of_birth YYYY-MM-DD 

+ student_pioneer_id (string, integr require only if role_id = 3 parent) - student_pioneer_id
+ student_government_id (integr require only if role_id = 3 parent) - student_government_id

+ Response 200 (application/json)

        {"message":"user has been saved"}

## Edit Users [/users/edit_user?access_token=your_access_token]

### Edit User [POST]

This action allows you to edit student, teacher and guardian account to classera system from your website.

+ id (string, required) - user ID 
+ first_name (string, required) - first_name 
+ father_name (string) - father_name 
+ grandfather_name (string) - grandfather_name 
+ family_name (string, required) - family_name 
+ address (string) - address 
+ phone_number (int) - phone_number 
+ mobile_number (int) - mobile_number 
+ email (string) - email 
+ place_of_birth (string) - place_of_birth 
+ date_of_birth (date) - date_of_birth YYYY-MM-DD 
+ status_id (int) - [1 => active, 2 => withdrawn]

if you want to transfer student from school to another you have to pass this paramters 

+ school_id (int) - new school id
+ level_id (int) - new level id

+ Response 200 (application/json)

        {"message":"user has been saved"}  
        
## Pioneer Edit Users [/users/pioneer_edit_user?access_token=your_access_token]

### Pioneer Edit User [POST]

This action allows you to edit student, teacher and guardian account to classera system from your website.

+ user_pioneer_id (string, required) - User Pioneer ID 
+ government_id (string, required) - government ID 
+ new_government_id (string, required only if you want to change the user government ID) - New government ID
+ school_pioneer_id (string, required) - school_id 
+ first_name (string, required) - first_name 
+ father_name (string) - father_name 
+ grandfather_name (string) - grandfather_name 
+ family_name (string, required) - family_name 
+ address (string) - address 
+ phone_number (int) - phone_number 
+ mobile_number (int) - mobile_number 
+ email (string) - email 
+ place_of_birth (string) - place_of_birth 
+ date_of_birth (date) - date_of_birth YYYY-MM-DD 
+ status_id (int) - [1 => active, 2 => withdrawn]

if you want to transfer student from school to another you have to pass this paramters 

+ school_pioneer_id (int) - new school id
+ stage_pioneer_id (int) - new stage id
+ level_pioneer_id (int) - new level id



+ Response 200 (application/json)

        {"message":"user has been saved"}  
        
        
## number of visits for each role [/users/visits_for_each_role?school_id=16&date_from=2014-10-12&date_to=2015-8-26&access_token=your_access_token]

### Visits for each role [GET]

This action allows you to get number of visits for every role in the school.
+ school_id (int) - school id 
+ date_from (date) - year-month-day
+ date_to (date) - year-month-day

        
+ Response 200 (application/json)

        [{"students":4,"teachers":4,"parents":2,"supervisors":1,"kaganCoaches":1,"advisers":1,"managers":1,"Admins":2}]
        
        
## Online visitors right now [/users/online_right_now?admin_user_id=694268&access_token=your_access_token]

### Online visitors right now [GET]

This action allows you to get number of all users online right now in your schools.

+ admin_user_id (int) - admin user id 
        
+ Response 200 (application/json)

        [{"total_online":2435}]
        
## Get user schools list [/users/get_schools_list?user_id=694268&access_token=your_access_token]

### get user schools list [GET]

This action allows you to get schools list that belong to the user.

+ user_id (int) - user id 
        
+ Response 200 (application/json)

        [{"School":{"id":"16","name":"FD Test School"}},{"School":{"id":"21","name":"\u0645\u062f\u0627\u0631\u0633 \u0627\u0644\u0623\u0646\u062f\u0644\u0633 \u0627\u0644\u0623\u0647\u0644\u064a\u0629"}},{"School":{"id":"22","name":"\u0645\u062c\u0645\u0639 \u0627\u0644\u0623\u0645\u064a\u0631 \u0633\u0644\u0637\u0627\u0646 \u0627\u0644\u062a\u0639\u0644\u064a\u0645\u064a"}}]
        
## Get user info by mawhiba id [/users/get_user_info_by_mawhiba_id?mawhiba_id=694268&access_token=your_access_token]

### get user info by mawhiba id [GET]

This action allows you to get user info by his mawhiba id.

+ mawhiba_id (int) - mawhiba id 
        
+ Response 200 (application/json)

        {"id":"87783","mawhiba_id":"12","pioneer_id":"0","username":"fdtstg1954","notification_settings":"1023","created":"2014-10-15 21:07:11","modified":"2014-10-15 21:07:11","role_id":"3","school_id":"16","first_name":"\u0623\u0645 \u0639\u0628\u062f\u0627\u0644\u0645\u0644\u0643","father_name":"\u0645\u0646\u0635\u0648\u0631","grandfather_name":null,"family_name":"\u0627\u0644\u0645\u0646\u0635\u0648\u0631","name_ara":null,"date_of_birth":null,"place_of_birth_country":null,"place_of_birth":null,"address":null,"phone_number":null,"mobile_number":null,"email":null,"verified_email":false,"nationality_id":"1","dob_hijri":null,"photo_filename":null,"theme_id":"1","deleted":false,"status_id":"1","lang":null,"date_format":"0","login_name":null,"google_login_token":null,"block_reports":false,"number":null,"old_school_id":null,"gender":"0","bio":null,"facebook_account":null,"twitter_account":null,"google_plus_account":null,"instagram_account":null,"linkedin_account":null,"full_name":"\u0623\u0645 \u0639\u0628\u062f\u0627\u0644\u0645\u0644\u0643 \u0645\u0646\u0635\u0648\u0631 \u0627\u0644\u0645\u0646\u0635\u0648\u0631"}
        
                
## Get user info [/users/get_user_info?user_id=100&access_token=your_access_token]

+ Parameters :
    + user_id: 100 (required, number) - ID of the user in form of an integer

### get user info [GET]
This action allows to get all user data

+ user_id (int) - user_id


+ Response 200 (application/json)

        {"id":"10386","nationality_id":"1","mawhiba_id":"222","username":"fdtstadmin","notification_settings":"1023","created":null,"modified":"2015-05-19 13:24:22","role_id":"2","school_id":"16","first_name":"FD","father_name":null,"grandfather_name":null,"family_name":"TST","name_ara":null,"date_of_birth":"2014-04-21","place_of_birth":"","address":"","phone_number":"","mobile_number":"","email":"","verified_email":false,"dob_hijri":null,"photo_filename":"images (155).jpg","theme_id":"1","deleted":false,"status_id":"1","lang":"eng","date_format":"0","login_name":"","block_reports":false,"number":null,"old_school_id":null,"gender":"0"}

## Get User School ID [/users/get_school_id?user_id=100&access_token=your_access_token]

+ Parameters :
    + user_id: 100 (required, number) - ID of the user in form of an integer

### Get User School ID [GET]

This action allows to get user school_id

+ user_id (int) - user_id

+ Response 200 (application/json)

        {"school_id":"10386"}
        
## Get current year & semester  [/users/get_current_semester_id?user_id=12&access_token=your_access_token]

+ Parameters :
    + user_id: 100 (required, number) - ID of the user in form of an integer

### Get semster and year id [GET]

This action allows to get user current semster_id and year_id

+ user_id (int) - user_id

+ Response 200 (application/json)

        {"year_id":"35","semester_id":"32"}
 
## Get student services  [/users/get_student_services?user_id=78785&year_id=224&access_token=your_access_token]

+ Parameters :
    + user_id: 100 (required, number) - ID of the user in form of an integer
    + year_id: 100 (optional, number) - year Id integer
    
### Get Student Services [GET]

This action allows to get all student services in a specific semester 

+ user_id (int) - user_id
+ year_id (int) - year_id

+ Response 200 (application/json)

        [{"Service":{"id":"1","title":"\u0628\u0631\u0646\u0627\u0645\u062c \u0627\u0644\u062a\u0644\u0645\u0630\u0629"},"ServiceStatus":{"status":"0"}}]
                
## Get user assignments [/users/get_assignments?user_id=10436&year_id=35&lecture_id=938&access_token=&access_token=your_access_token]

+ Parameters :
    + user_id: 100 (required, number) - User ID of the user in form of an integer
    + lecture_id: 100 (optional, number) - Lecture Id of the user in form of an integer
    + year_id: 100 (required, number) - year Id of the user in form of an integer

### Get User assignments [GET]

This action allows to get users assignments in a specific semester 

+ user_id (int) - user_id
+ year_id (int) - year_id
+ lecture_id (int) - lecture_id
+ type (string) - type
+ solved (boolean) - type

+ Response 200 (application/json)

        [{"Assignment":{"id":"56140","title":"arabic final exam","type":"Exam","mark":"100","time_limit":"10","due_datetime":"2014-12-04 15:29:00","cutoff_datetime":"2014-12-04 15:29:00","status":"draft","publishing_datetime":"2014-12-01 15:44:00","comments":"","accept_submission_attachment":false,"created":"2014-12-01 15:30:17","modified":"2014-12-01 15:31:40","attachment_id":null,"sub_attach_mark":null,"private":false,"deleted":false,"view_answers":false,"new":"true","allow_multiple_submissions":false,"random_questions":false,"random_answers":false,"assignment_password":null,"user_id":"10564","semester_id":"32","grade_category_id":null,"preparation_id":"3","assessment_id":null}},{"Assignment":{"id":"56170","title":"Math2 exam","type":"Exam","mark":"100","time_limit":"12","due_datetime":"2015-04-09 15:16:00","cutoff_datetime":"2015-04-09 15:16:00","status":"draft","publishing_datetime":"2015-04-06 15:31:00","comments":"","accept_submission_attachment":false,"created":"2015-04-06 15:16:59","modified":"2015-04-06 15:16:59","attachment_id":null,"sub_attach_mark":null,"private":false,"deleted":false,"view_answers":false,"new":"true","allow_multiple_submissions":false,"random_questions":false,"random_answers":false,"assignment_password":null,"user_id":"10440","semester_id":"32","grade_category_id":null,"preparation_id":null,"assessment_id":null}}]
           
## Get user Assignments/Exam mark [/users/get_student_exam_mark?user_id=12&assignment_id=121&access_token=your_access_token]

+ Parameters :
    + user_id: 100 (required, number) - User ID of the user in form of an integer
    + assignment_id: 100 (required, number) - Assignment Id for the user in form of an integer
  


### Get User assignments/Exam mark [GET]

This action allows to get student exam mark 

+ user_id (int) - user_id
+ assignment (int) - assignment_id


+ Response 200 (application/json)

        [{"Assignment":{"full_mark":"20"},"Submission":{"mark":"20","id":"1351427"}}]
           
## Get student level  [/users/get_student_level?user_id=12&year_id=12&access_token=your_access_token]

+ Parameters :
    + user_id: 100 (required, number) - ID of the user in form of an integer
    + year_id: 100 (required, number) - Year ID in form of an integer


### Get Student level [GET]

This action allows to get student level in specific year

+ user_id (int) - user_id
+ year_id (int) - user_id

+ Response 200 (application/json)

        {"id":"2603","student_id":"3126","year_id":"35","level_id":"212","status":null,"created":"0000-00-00 00:00:00","modified":"0000-00-00 00:00:00"}
        

## Get user score info  [/users/get_user_score_info?user_id=12&semester_id=12&access_token=your_access_token]

+ Parameters : 
    + user_id: 100 (required, number) - ID of the user in form of an integer
    + semester_id: 100 (required, number) - Year ID in form of an integer


### Get User Score info [GET]

This action allows to get student level in specific year

+ user_id (int) - user_id
+ semester_id (int) - semester_id

+ Response 200 (application/json)

        {"user_score":"1200","current_card_title":"Green","current_card_color":"#afd136","user_ratio":33.3333333333,"class_index":4,"class_title":"Green","class_color":"#afd136"}
        

## Get Users Top Scores [/users/get_users_top_scores?access_token=your_access_token&role_id=6&all_schools=1&limit=3&user_id=31&lang=ara]

### Get Users Top Scores [GET]

This action allows you to get top scores of students or teachers.

+ user_id (string, required) - user ID 
+ role_id (int, required) - role ID of the targeted users (students or teachers) 
+ all_schools (string, required) - include all schools ( 0 or 1)
+ limit (int, required) - number of results
+ lang  (string, required) - allow arabic language if found

+ Response 200 (application/json)

        
        {
            "ScoresDetailsView": {
                "user_id": "39",
                "username": "clss0019",
                "score": "3000",
                "semester_id": "1",
                "full_name": "Abody yousef ashour Kash",
                "full_name_ara": "عبدالرحمن قشقري"
            },
            "School": {
                "name": "Classera"
            }
        },
        {
            "ScoresDetailsView": {
                "user_id": "33",
                "username": "clss0012",
                "score": "2000",
                "semester_id": "1",
                "full_name": "Medo Justin",
                "full_name_ara": null
            },
            "School": {
                "name": "Classera"
            }
        },
        {
            "ScoresDetailsView": {
                "user_id": "34",
                "username": "clss0011",
                "score": "1000",
                "semester_id": "1",
                "full_name": "mohammed jamal aziz janbi",
                "full_name_ara": "محمد جمال عبدالعزيز جنبي"
            },
            "School": {
                "name": "Classera"
            }
        }
        
## Get Student Reports List  [/users/get_student_reports_list?user_id=100&access_token=your_access_token]

+ Parameters :
   + user_id: 100 (required, number) - User ID  in form of an integer

### Get Student Reports List [GET]

This action allows to get student report list

+ user_id (int) - user_id


+ Response 200 (application/json)

        [{"ReportCards":{"id":"754","title":"Layla Report","created":"2016-05-23 10:28:31"}}]

## Get student report [/users/get_student_report?user_id=12&report_id=12&access_token=your_access_token]

+ Parameters :
    + user_id: 100 (required, number) - User ID  in form of an integer
    + report_id: 100 (required, number) - Report ID in form of an integer
    

### Get Student Report [GET]

This action allows to get students reports details

+ user_id (int) - user_id
+ report_id (int) - report_id

+ Response 200 (application/json)
        
        {"report":[{"ReportCards":{"title":"Layla Report"}}],"lectures":[{"lecture_id":"323274","course_id":"48918","course_title":"\u062f\u0648\u0631\u0629 \u0627\u0644\u0631\u0648\u0628\u0648\u062a","excused":0,"unexcused":0,"transcript_attribute":[{"grade":0,"point":"100","transcript_attribute_id":"209","transcript_attribute_title":"Mid-Term Exam"},{"grade":0,"point":"0","transcript_attribute_id":"208","transcript_attribute_title":"Exams Average"},{"grade":0,"point":"100","transcript_attribute_id":"516","transcript_attribute_title":"\u0645\u0634\u0631\u0648\u0639 \u0627\u0644\u0645\u0627\u062f\u0629"},{"grade":0,"point":"100","transcript_attribute_id":"886","transcript_attribute_title":"Total"}]},{"lecture_id":"287253","course_id":"41259","course_title":"\u062f\u0648\u0631\u0629 \u0625\u062f\u0627\u0631\u0629 \u0627\u0644\u0645\u0634\u0627\u0631\u064a\u0639","excused":0,"unexcused":0,"transcript_attribute":[{"grade":0,"point":"100","transcript_attribute_id":"209","transcript_attribute_title":"Mid-Term Exam"},{"grade":0,"point":"0","transcript_attribute_id":"208","transcript_attribute_title":"Exams Average"},{"grade":0,"point":"100","transcript_attribute_id":"516","transcript_attribute_title":"\u0645\u0634\u0631\u0648\u0639 \u0627\u0644\u0645\u0627\u062f\u0629"},{"grade":0,"point":"100","transcript_attribute_id":"886","transcript_attribute_title":"Total"}]},{"lecture_id":"30445","course_id":"7127","course_title":"Math-101","excused":0,"unexcused":0,"transcript_attribute":[{"grade":100,"point":"100","transcript_attribute_id":"209","transcript_attribute_title":"Mid-Term Exam"},{"grade":0,"point":"100","transcript_attribute_id":"516","transcript_attribute_title":"\u0645\u0634\u0631\u0648\u0639 \u0627\u0644\u0645\u0627\u062f\u0629"},{"grade":0,"point":"0","transcript_attribute_id":"208","transcript_attribute_title":"Exams Average"},{"grade":100,"point":"100","transcript_attribute_id":"886","transcript_attribute_title":"Total"}]},{"lecture_id":"30449","course_id":"7129","course_title":"English-101","excused":0,"unexcused":0,"transcript_attribute":[{"grade":0,"point":"100","transcript_attribute_id":"209","transcript_attribute_title":"Mid-Term Exam"},{"grade":0,"point":"100","transcript_attribute_id":"516","transcript_attribute_title":"\u0645\u0634\u0631\u0648\u0639 \u0627\u0644\u0645\u0627\u062f\u0629"},{"grade":0,"point":"0","transcript_attribute_id":"208","transcript_attribute_title":"Exams Average"},{"grade":0,"point":"100","transcript_attribute_id":"886","transcript_attribute_title":"Total"}]},{"lecture_id":"908613","course_id":"53191","course_title":"\u062f\u0648\u0631\u0629 \u0645\u0647\u0627\u0631\u062a \u0627\u062a\u0635\u0627\u0644","excused":0,"unexcused":0,"transcript_attribute":[{"grade":0,"point":"100","transcript_attribute_id":"209","transcript_attribute_title":"Mid-Term Exam"},{"grade":0,"point":"0","transcript_attribute_id":"208","transcript_attribute_title":"Exams Average"},{"grade":0,"point":"100","transcript_attribute_id":"516","transcript_attribute_title":"\u0645\u0634\u0631\u0648\u0639 \u0627\u0644\u0645\u0627\u062f\u0629"},{"grade":0,"point":"100","transcript_attribute_id":"886","transcript_attribute_title":"Total"}]}],"StudentBehavior":[{"StudentBehavior":{"id":"28310","date":"2016-05-25","details":"Test attachment 1","attachment_id":"3145697","behavior_title":"\u0639\u062f\u0645 \u0627\u0644\u062a\u0642\u064a\u062f \u0628\u0627\u0644\u0644\u0628\u0627\u0633 \u0627\u0644\u0631\u0633\u0645\u064a \u0627\u0644\u062e\u0627\u0635 \u0628\u0627\u0644\u0645\u062f\u0631\u0633\u0629 ","behavior_description":"\r\n\t\u0639\u062f\u0645 \u0627\u0644\u062a\u0642\u064a\u062f \u0628\u0627\u0644\u0644\u0628\u0627\u0633 \u0627\u0644\u0631\u0633\u0645\u064a \u0627\u0644\u062e\u0627\u0635 \u0628\u0627\u0644\u0645\u062f\u0631\u0633\u0629  \u0623\u0648 \u0647\u064a\u0626\u0629 \u0645\u062e\u0627\u0644\u0641\u0629 \u0644\u0644\u0646\u0638\u0627\u0645 \u0627\u0644\u0645\u062f\u0631\u0633\u064a <\/p>\r\n","behavior_points":"1","action_title":"1- \u0627\u0644\u062a\u0646\u0628\u064a\u0647 \u0627\u0644\u0634\u0641\u0648\u064a ","action_description":"\r\n\t\u0627\u0644\u062a\u0646\u0628\u064a\u0647 \u0627\u0644\u0634\u0641\u0648\u064a \u0627\u0644\u0625\u0646\u0641\u0631\u0627\u062f\u064a \u0645\u0646 \u0627\u0644\u0645\u0639\u0644\u0645 \u0623\u0648 \u0627\u0644\u0625\u062f\u0627\u0631\u0629 \u0627\u0644\u0645\u062f\u0631\u0633\u064a\u0629 \u0639\u0646\u062f\u0645\u0628\u0627\u0634\u0631\u0629 \u0627\u0644\u0645\u0648\u0642\u0641 \u0648\u0628\u0623\u0633\u0644\u0648\u0628 \u062a\u0631\u0628\u0648\u064a \u062d\u0643\u064a\u0645 \u0648\u062a\u0639\u0632\u064a\u0632 \u0627\u0644\u0633\u0644\u0648\u0643 \u0627\u0644\u0625\u064a\u062c\u0627\u0628\u064a .<\/p>\r\n","attachment_url":{"download_url":"https:\/\/s3.amazonaws.com\/classera\/111\/behavior\/3145697.docx?response-content-disposition=attachment%3Bfilename%3D%22_%C3%98%C2%A7%C3%99%C2%84%C3%98%C2%AD%C3%99%C2%81%C3%98%C2%B1_%C3%98%C2%A7%C3%99%C2%84%C3%98%C2%B4%C3%98%C2%B1%C3%99%C2%82%C3%99%C2%8A_%C3%98%C2%B9%C3%99%C2%84%C3%99%C2%89_%C3%98%C2%A7%C3%99%C2%84%C3%98%C2%AE%C3%98%C2%B4%C3%98%C2%A8.docx%22&AWSAccessKeyId=AKIAINQWGSCNCBOYK2PQ&Expires=1468928252&Signature=1A7mNId95GWclmid149Hrld87tY%3D"}}},{"StudentBehavior":{"id":"28311","date":"2016-05-25","details":"Test attachment 2","attachment_id":"3145698","behavior_title":"\u0627\u0644\u0639\u0628\u062b \u0641\u064a \u0627\u0644\u0635\u0641 \u0628\u0627\u0644\u0637\u0627\u0628\u0648\u0631","behavior_description":"\r\n\t\u0635\u062b\u0633\u0628\u0633\u064a\u0628<\/p>\r\n","behavior_points":"1","action_title":"\u062a\u062d\u0630\u064a\u0631","action_description":"\u0633\u0628\u0633","attachment_url":{"download_url":"https:\/\/s3.amazonaws.com\/classera\/111\/behavior\/3145698.docx?response-content-disposition=attachment%3Bfilename%3D%22_%C3%98%C2%A7%C3%99%C2%84%C3%98%C2%AD%C3%99%C2%81%C3%98%C2%B1_%C3%98%C2%A7%C3%99%C2%84%C3%98%C2%B4%C3%98%C2%B1%C3%99%C2%82%C3%99%C2%8A_%C3%98%C2%B9%C3%99%C2%84%C3%99%C2%89_%C3%98%C2%A7%C3%99%C2%84%C3%98%C2%AE%C3%98%C2%B4%C3%98%C2%A8.docx%22&AWSAccessKeyId=AKIAINQWGSCNCBOYK2PQ&Expires=1468928253&Signature=CVVGoH0L1ntB5yDHGk3ZLSP%2BECM%3D"}}}]}

## Get Inbox Messages [/users/get_inbox_messages?user_id=12&access_token=your_access_token]

+ Parameters :
    + user_id: 100 (required, number) - User ID  in form of an integer
   
### Get Inbox Messages [GET]

This action allows to get user Inbox messages

+ user_id (int) - user_id


+ Response 200 (application/json)

        [{"0":[{"InboxView":{"id":"9094211_78785","sender_id":"78934","full_name":"Tom Friedman","full_name_ara":null,"semester_id":"318","message_id":"9094211","title":"hi","body":"hhhhh","priority":"0","created":"2016-07-17 16:58:27","type":null,"read":false,"image_url":"https:\/\/s3.amazonaws.com\/classera\/111\/profilepic\/thumb_130\/78934.jpg?response-content-disposition=attachment%3Bfilename%3D%2293105f8e5b940e2b2ed489ffae17da2d.jpg%22&AWSAccessKeyId=AKIAINQWGSCNCBOYK2PQ&Expires=1468921559&Signature=gRteGqcBjLmV0zU%2FqGRe3iCT5V0%3D"}}],"tota_count":37,"unread_count":1}

## Search Inbox Messages [/users/search_inbox_messages?user_id=12&sender=Tom&subject=hi&access_token=your_access_token]

+ Parameters :
    + user_id: 100 (required, number) - User ID  in form of an integer
    + sender : Tom (optional, string) - Sendre name
    + subject : hi (optional, string) - Subject title message 
###Search Inbox Messages [GET]

This action allows to user search in Inbox messages by sender name or by title of message

+ user_id (int) - user_id
+ sender (string) - sender
+ subject (string) - subject

+ Response 200 (application/json)

        [{"id":"9094211_78785","sender_id":"78934","full_name":"Tom Friedman","full_name_ara":null,"semester_id":"318","message_id":"9094211","title":"hi","body":"hhhhh","priority":"0","created":"2016-07-17 16:58:27","type":null,"read":false,"image_url":"https:\/\/s3.amazonaws.com\/classera\/111\/profilepic\/thumb_130\/78934.jpg?response-content-disposition=attachment%3Bfilename%3D%2293105f8e5b940e2b2ed489ffae17da2d.jpg%22&AWSAccessKeyId=AKIAINQWGSCNCBOYK2PQ&Expires=1468921559&Signature=gRteGqcBjLmV0zU%2FqGRe3iCT5V0%3D"}]


## Get message inbox details [/Users/get_message_inbox_details?message_id=10&access_token=your_access_token]

+ Parameters : 
    + message_id: 10 (required, number) - ID of message
    

### Get message inbox details [GET]
This action allows to get message inbox details .

+ message_id (int) - message_id

+ Response 200 (application/json)

        [{"Message":{"id":"9094211","title":"hi","body":"hhhhh","created":"2016-07-17 16:58:27","priority":"0","type":null,"sender_id":"78934","semester_id":"318","read":false,"first_name":"Tom","family_name":"Friedman","image_url":"https:\/\/s3.amazonaws.com\/classera\/111\/profilepic\/thumb_130\/78934.jpg?response-content-disposition=attachment%3Bfilename%3D%2293105f8e5b940e2b2ed489ffae17da2d.jpg%22&AWSAccessKeyId=AKIAINQWGSCNCBOYK2PQ&Expires=1468926155&Signature=EwFv4%2B4x8zxvR83%2BaGqHE3Tbn7I%3D"}}]

## Get Outbox Messages [/users/get_outbox_messages?user_id=12&access_token=your_access_token]

+ Parameters :
    + user_id: 100 (required, number) - User ID  in form of an integer
    

### Get Outbox Messages [GET]

This action allows to get user outbox messages

+ user_id (int) - user_id

+ Response 200 (application/json)

        [{"inboxView":{"id":"33_10436","message_id":"33","recipient_id":"10436","sender_id":"10386","sender_photo":"images (155).jpg","full_name":"FD TST","full_name_ara":null,"title":"\u0631\u0633\u0627\u0644\u0629 \u0644\u0643\u0645 \u062e\u0627\u0635\u0629 \u0645\u062d\u0641\u0648\u0638\u0629","body":"
        \r\n\t\u062a\u064a\u0633\u062a \u0628\u0633\u0645 \u0627\u0644\u0644\u0647<\/p>\r\n","priority":"0","created":"2014-11-30 18:45:33","type":null,"read":false,"has_attachment":"0","school_id":"16","semester_id":"32"},"Message":{"id":"33","title":"\u0631\u0633\u0627\u0644\u0629 \u0644\u0643\u0645 \u062e\u0627\u0635\u0629 \u0645\u062d\u0641\u0648\u0638\u0629","body":"

        \r\n\t\u062a\u064a\u0633\u062a \u0628\u0633\u0645 \u0627\u0644\u0644\u0647<\/p>\r\n","approved":true,"sent":null,"created":"2014-11-30 18:45:33","modified":"2014-11-30 18:45:33","sender_id":"10386","reply_to":null,"attachment_id":null,"priority":"0","deleted":"0","type":null,"semester_id":"32","related_to":null,"related_to_type":null,"is_draft":false},"Recipient":{"id":"10436","nationality_id":"1","mawhiba_id":null,"username":"fdtsts0003","password":"45e068b5c30decd5883ff5bfa4aa20f74c6e392e","notification_settings":"0","created":"2011-12-31 13:02:40","modified":"2015-06-04 16:18:41","role_id":"6","school_id":"16","first_name":"\u0645\u062d\u0645\u062f","father_name":"\u0633\u0639\u0648\u062f","grandfather_name":"\u0645\u0633\u0641\u0631","family_name":"\u0627\u0644\u062f\u0644\u064a\u062c\u0627\u0646","name_ara":null,"date_of_birth":"1995-12-07","place_of_birth":"","address":"","phone_number":"","mobile_number":"0555856777","email":"","verified_email":false,"dob_hijri":null,"photo_filename":"student.jpg","theme_id":"1","deleted":false,"status_id":"1","lang":"eng","date_format":"1","login_name":"","google_token":null,"block_reports":false,"number":null,"old_school_id":null,"gender":"0"}}]


## Search Outbox Messages [/users/search_outbox_messages?user_id=12&title=Tom&date=2016-07-17 16:58:27&access_token=your_access_token]

+ Parameters :
    + user_id: 100 (required, number) - User ID  in form of an integer
    + title : hi (optional, string) - Title of message
    + date : 2016-07-17 16:58:27(optional, date) - Date message sent
###Search Outbox Messages [GET]

This action allows to user search in Outbox messages by sender name or by title of message

+ user_id (int) - user_id
+ title (string) - title
+ date (date) - date

+ Response 200 (application/json)

        [{"id":"9094211_78785","sender_id":"78934","full_name":"Tom Friedman","full_name_ara":null,"semester_id":"318","message_id":"9094211","title":"hi","body":"hhhhh","priority":"0","created":"2016-07-17 16:58:27","type":null,"read":false,"image_url":"https:\/\/s3.amazonaws.com\/classera\/111\/profilepic\/thumb_130\/78934.jpg?response-content-disposition=attachment%3Bfilename%3D%2293105f8e5b940e2b2ed489ffae17da2d.jpg%22&AWSAccessKeyId=AKIAINQWGSCNCBOYK2PQ&Expires=1468921559&Signature=gRteGqcBjLmV0zU%2FqGRe3iCT5V0%3D"}]


## Get message outbox details [/Users/get_message_outbox_details?message_id=10&access_token=your_access_token]

+ Parameters :
    + message_id: 10 (required, number) - ID of message
    

### Get message outbox details [GET]
This action allows to et message outbox details .

+ message_id (int) - message_id

+ Response 200 (application/json)


        [{"Message":{"id":"10","title":"RE: Test 3","body":"\r\n\t&nbsp;\r\n\r\n\t \r\n\t\r\n\t\tTest 3\r\n\r\n\r\n\t&nbsp;\r\n\r\n\t&nbsp;\r\n\r\n\thello\r\n\r\n\t&nbsp;\r\n\r\n\ttest1\r\n","created":"2016-06-28 14:35:02","priority":"0","type":"sent","first_name":"demoa115","family_name":""},"OutboxView":{"recipient_id":"30607","school_id":"111","semester_id":"318","image_url":"https:\/\/s3.amazonaws.com\/classera\/35\/profilepic\/thumb_130\/30607.jpg?response-content-disposition=attachment%3Bfilename%3D%2230607.jpg%22&AWSAccessKeyId=AKIAINQWGSCNCBOYK2PQ&Expires=1468926067&Signature=fvA%2BZufgf7Pu3Ln1lmUIr7VhbhU%3D"}}]


## Reply message [/Users/reply_message?access_token=your_access_token]

### Reply message [POST]
This action allows to Reply message. 

+ user_id: 100 (required, intger) 
+ message_id : 100 (required, intger) 
+ message_title: "hi" (required, string)
+ recipient_id: 101 (required, intger)  
+ message_body: "how are you?" (required, string)

+ Response 200 (application/json)
  
        {"message_id":"9094211","title":"hi","status":"Success replay message"} 
 
        
## Get user notification [/Users/get_user_notification?user_id=100&access_token=your_access_token]

+ Parameters :
    + user_id: 100 (required, number) - ID of the user in form of an integer
    

### Get user notification [GET]
This action allows to get user notification .

+ user_id (int) - user_id

+ Response 200 (application/json)

        {"unseen_assessments":[],"unseen_assessments_count":0,"student_grades_list":[],"grades_count":0,"count_new_exam":1,"list_new_exam":[{"Assignment":{"id":"479283","title":"Test Title","due_datetime":"2016-11-04 00:00:00","course_title":"Math-101","course_id":"7127","status":"Launch"}}],"list_new_homework":[],"count_new_homework":0,"video_attach":[],"count_new_video":0,"document_attach":[],"count_new_doc":0,"list_new_disc":[],"count_new_disc":0,"unread_messages":[{"InboxView":{"id":"9094211_78785","message_id":"9094211","recipient_id":"78785","message_folder":null,"sender_id":"78934","sender_photo":"93105f8e5b940e2b2ed489ffae17da2d.jpg","full_name":"Tom Friedman","full_name_ara":null,"title":"hi","body":"hhhhh","priority":"0","created":"2016-07-17 16:58:27","type":null,"read":false,"has_attachment":"0","school_id":"111","semester_id":"318"}}],"unread_messages_count":1,"report_cards":[{"ReportCards":{"id":"754","title":"Layla Report","created":"2016-05-23 10:28:31"}},{"ReportCards":{"id":"750","title":"Test Android New APP!","created":"2016-04-24 10:52:55"}},{"ReportCards":{"id":"470","title":"Week-1 Report","created":"2015-11-11 12:26:15"}}],"count_new_report_cards":3}


## Parent get child [/Users/parent_get_child?user_id=100&access_token=your_access_token]
+ Parameters :
    + user_id: 100 (required, number) - ID of the user in form of an integer
  
   
### Parent get child [GET]
This action allows parent to get children list .

+ user_id (int) - user_id

+ Response 200 (application/json)

        [{"Student":{"user_id":{"id":"78785","username":"etss0001","notification_settings":"1023","created":"2014-03-18 14:15:50","modified":"2016-06-22 12:18:07","role_id":"6","school_id":"111","first_name":"Adam","father_name":"","grandfather_name":"","family_name":"Fields","name_ara":null,"date_of_birth":"2000-03-18","place_of_birth":"3793","place_of_birth_country":"224","address":"United States of America, New Yourk","phone_number":"","mobile_number":"0555856777","email":null,"verified_email":false,"email2":null,"nationality_id":"45","dob_hijri":null,"photo_filename":"images (1).jpg","theme_id":"1","deleted":false,"status_id":"1","lang":"eng","date_format":"1","login_name":"demos223","google_login_token":null,"number":"87547854756","old_school_id":null,"gender":"0","block_reports":false,"mawhiba_id":"54321","pioneer_id":null,"bio":"Rolando Cruz is a native of Mexico City and has lived in Portland, Oregon\r\nsince 1996. Since 2008, Rolando has been District Executive for Hispanic Outreach\r\nand responsible for the Soccer and Scouting program at the Boy Scouts of America in\r\nPortland. His bi-cultural background and focus on community collaboration has led\r\nhim to a number of volunteer opportunities and community leadership roles. Rolando\r\nreceived his Bachelor of Science in Communications at Oklahoma Christian\r\nUniversity and a Masters in Management and Organizational Leadership at Warner\r\nPacific College in Portland, Oregon. ","facebook_account":"www.facebook.com\/pages\/Classera\/304534046291945?fref=ts","twitter_account":"classera_me","google_plus_account":null,"instagram_account":"classera_me","linkedin_account":"www.linkedin.com\/company\/classera-inc-","mobile_number2":null,"educational_administration":"","external_school":"","tmp_section_id":null,"level_pioneer_id":null,"section_pioneer_id":null,"parent_pioneer_id":null,"thumb_done":"1","ios_token":null,"android_token":null,"restrict_login":false,"full_name":"Adam   Fields","school_name":"English Test School - 02","student_level":{"id":"42525","student_id":"30743","year_id":"224","level_id":"833","status":null,"created":"0000-00-00 00:00:00","modified":"0000-00-00 00:00:00"},"level_title":[{"levels":{"title":"Grade-1"}}],"image_url":"https:\/\/s3.amazonaws.com\/classera\/111\/profilepic\/thumb_130\/78785.jpg?response-content-disposition=attachment%3Bfilename%3D%22images_%281%29.jpg%22&AWSAccessKeyId=AKIAINQWGSCNCBOYK2PQ&Expires=1468851456&Signature=hTmYKdD5q4R9iYx%2BbOyXZC%2BS0nA%3D","score_info":{"user_score":"3818.57","current_card_title":"Green","current_card_color":"#afd136","user_ratio":100,"class_index":0,"class_title":"Diamond","class_color":"#730c16"},"current_semester_id":{"year_id":"224","semester_id":"318"}}}}]
  
  
## Get user classera card [/Users/get_user_classera_card?user_id=100&access_token=your_access_token]
+ Parameters :
    + user_id: 100 (required, number) - ID of the user in form of an integer
    
    
### Get user classera card [GET]
This action allows to get user card .

+ user_id (int) - user_id

+ Response 200 (application/json)
    
         [{"ClasseraCardsUsers":{"id":"3","card_number":"30399927095992","linked_by":"78785","class":"4","card_url":"https:\/\/classera.s3.amazonaws.com\/classera\/CLASSERA_CARDS\/card_78785_30399927095992.png"}}]

## Pioneer Get Bus Tracking Link [/users/pioneer_get_bus_tracking_link?user_id=32&access_token=your_access_token]

### Pioneer get bus tracking link [GET]

This action allows you to get pioneer user bus tracking link.

+ user_id (string) - user_id.

+ Response 200 (application/json)

        {"link":"https:\/\/ipfleet.com\/ALHUSSAN\/View\/Localization.GPSTrackingUrl\/?VehicleObserver=F330B5C866106F0079B8E456D33CAC46A86BD189"}


##Edit Contact Information [/Users/edit_contact_information?access_token=your_access_token]
### Edit Contact Information [POST]

This action allows you to edit contact information of an user account to classera system from your website.

+ user_id (string, required) - user ID 
+ address (string) - first_name 
+ phone_number (string) - phone_number 
+ mobile_number (string) - mobile_number 
+ email (string) - email 
+ facebook_account (string) - facebook_account 
+ twitter_account (string) - twitter_account
+ linkedin_account (date) - linkedin_account
+ instagram_account (date) - instagram_account 

+ Response 200 (application/json)

        [
            {
                "success": "1",
                "message": "Contact Information Updated"
            }
        ]        
        
##List User Skills [/Users/list_user_skills?user_id=34&access_token=your_access_token]
### List User Skills [GET]

This action will list all the skills the user has .

+ user_id (string, required) - user ID 

+ Response 200 (application/json)

                {
            "0": {
                "UsersSkill": {
                    "id": "2",
                    "user_id": "34",
                    "skills_category_id": null,
                    "skill": "Cyclist",
                    "skill_level": "Talented",
                    "created": "2017-07-17 15:01:40",
                    "modified": "2017-07-17 15:01:40"
                }
            },
            "1": {
                "UsersSkill": {
                    "id": "3",
                    "user_id": "34",
                    "skills_category_id": null,
                    "skill": "Freediving",
                    "skill_level": "Advanced",
                    "created": "2017-07-17 15:01:56",
                    "modified": "2017-07-17 15:01:56"
                }
            },
            "2": {
                "UsersSkill": {
                    "id": "5",
                    "user_id": "34",
                    "skills_category_id": null,
                    "skill": "swimming",
                    "skill_level": "Beginner",
                    "created": "2017-07-17 16:35:26",
                    "modified": "2017-07-17 17:23:20"
                }
            },
            "3": {
                "UsersSkill": {
                    "id": "18",
                    "user_id": "34",
                    "skills_category_id": null,
                    "skill": "test2",
                    "skill_level": "Beginner",
                    "created": "2017-07-25 09:33:10",
                    "modified": "2017-07-25 10:56:47"
                }
            },
            "4": {
                "UsersSkill": {
                    "id": "19",
                    "user_id": "34",
                    "skills_category_id": null,
                    "skill": "test",
                    "skill_level": "Beginner",
                    "created": "2017-07-25 10:10:21",
                    "modified": "2017-07-25 10:56:16"
                }
            },
            "success": "1"
            }}

##Delete User Skill [/Users/delete_user_skill?access_token=your_access_token]
###Delete  User Skill [POST]

This action will allow the user to delete a skill

+ user_id (string, required) - user ID 
+ skill_id (string, required) - skill ID 

+ Response 200 (application/json)

        {"success":"1","message":"Skill has been deleted"}


##Add Skill for User [/Users/add_skill_for_user?access_token=your_access_token]
### Add Skill for User [POST]

This action will allow the user to add a skill

+ user_id (string, required) - user ID 
+ skill (string, required) - skill Nmae
+ skill_level (string, required) - skill level ('Beginner','Talented','Advanced', 'Skilled', 'Expert')


+ Response 200 (application/json)

        {"success":"1","message":"Skill has been added"}
        

##Edit User Skill [/Users/edit_user_skill?access_token=your_access_token]
### Add Skill for User [POST]

This action will allow the user to edit a skill

+ user_id (string, required) - user ID 
+ skill (string, required) - skill Nmae
+ skill_level (string, required) - skill level ('Beginner','Talented','Advanced', 'Skilled', 'Expert')


+ Response 200 (application/json)

        {"success":"1","message":"Skill has been edited"}




        
## Group Public Profile

Resources related to Public Profiles in the API.

## Get Public Profile [/users/get_public_profile?access_token=your_access_token]

### Get Public Profile [GET]

This action returns public profile information.

+ user_id (int) - target user id.

        


        
+ Response 200 (application/json)

        {
        "livesin_city_en": "City",
        "livesin_city_ar": "مدينةة",
        "livesin_country_en": "Country",
        "livesin_country_ar": "الدولة",
        "student_level_title": "Level",
        "section_title": "Section",
        "transfers": [],
        "user_profile_pic": "",
        "userEducations": [
            {
                "UsersEducation": {
                    "id": "Education_id",
                    "user_id": "user_id",
                    "country_id": "country_id",
                    "city_id": "city_id",
                    "school": "school name",
                    "from_year": "starting year",
                    "to_year": "end year",
                    "degree": "degree",
                    "field_of_study": "Field",
                    "description": "field description",
                    "modified": "2017-07-17 15:04:42",
                    "created": "2017-07-17 15:04:42"
                }
            }
        ],
        "userExperiances": [
            {
                "UsersWorksExperiance": {
                    "id": "Work experience id",
                    "user_id": "user_id",
                    "start_date": "starting date",
                    "end_date": "end date",
                    "job_title": "Job title",
                    "job_type": "Job type",
                    "company_name": "Company name",
                    "description": "Job description",
                    "experiance_certificate": "Certifcation",
                    "created": "2017-07-17 15:01:17",
                    "modified": "2017-07-19 14:02:18"
                }
            }
        ],
        "userSkills": [
            {
                "UsersSkill": {
                    "id": "Skill id",
                    "user_id": "user_id",
                    "skills_category_id": "category id",
                    "skill": "Skill",
                    "skill_level": "Level",
                    "created": "2017-07-17 15:01:40",
                    "modified": "2017-07-17 15:01:40"
                }
            }
        ],
        "userInterests": [
            {
                "UsersInterest": {
                    "id": "Interest id",
                    "user_id": "user_id",
                    "interest": "Interest title",
                    "description": "interest description",
                    "created": "2017-07-17 15:02:18",
                    "modified": "2017-07-17 15:02:18"
                }
            }
        ],
        "userLanguages": [
            {
                "UsersLanguage": {
                    "id": "language id",
                    "user_id": "user_id",
                    "language": "Language",
                    "proficiency": "proficiency",
                    "created": "2017-07-17 15:02:40",
                    "modified": "2017-07-17 15:02:40"
                }
            }
        ],
        "latest_eportfolios": [
            {
                "Eportfolio": {
                    "id": "EPortfolio id",
                    "title": "Eportfolio title",
                    "brief": "Eportfolio brief description",
                    "details": "<p>\r\n\tdetails</p>\r\n",
                    "user_id": "user_id",
                    "user_role_id": "role_id",
                    "reference_type": "Eportfolio",
                    "reference_sub_type": null,
                    "reference_id": null,
                    "type_id": "1",
                    "course_id": "7",
                    "semester_id": "1",
                    "school_id": "1",
                    "level_id": null,
                    "attachment_id": "5",
                    "date": "2017-07-19 11:24:00",
                    "status": "1",
                    "sharing_status": "2",
                    "eportfolio": true,
                    "image": "IMG_1261.JPG",
                    "deleted": false,
                    "modified": "2017-07-19 11:25:30",
                    "created": "2017-07-19 11:25:30",
                    "total_views": "1"
                },
                "Attachment": {
                    "id": "5",
                    "original_filename": "FullSizeRender.jpg",
                    "created": "2017-07-19 11:24:41",
                    "title": "FullSizeRender.jpg",
                    "comments": null,
                    "deleted": false,
                    "type": "ePortfolio",
                    "type_reference_id": null,
                    "content_type": "image/jpeg",
                    "publish_date": "2017-07-19 11:24:41",
                    "sharing_status": "0",
                    "user_id": "34",
                    "school_id": "1",
                    "original_attachment": null,
                    "duplicate_stss": false,
                    "id_hash": null,
                    "semester_id": null,
                    "file_hash": null,
                    "missing": false,
                    "duplicate_xtxs": false,
                    "blocked": false,
                    "preparation_id": "2",
                    "course_id": null,
                    "expiry_date": null,
                    "allow_download": "1",
                    "publish_date_Ymd": "2017-07-19"
                },
                "EportfolioType": {
                    "id": "1",
                    "type_eng": "type",
                    "type_ara": "الفئة"
                },
                "Tag": []
            }
        ]   
        }
        
## Edit Personal Information [/Users/edit_personal_information?access_token=your_access_token]
### Edit Personal Information [POST]

This action allows you to edit personal information of an user account to classera system from your website.

+ user_id (string, required) - user ID 
+ first_name (string, required) - first_name 
+ father_name (string) - father_name 
+ grandfather_name (string) - grandfather_name 
+ family_name (string, required) - family_name 
+ place_of_birth (string) - place_of_birth 
+ place_of_birth_country (string) - place_of_birth_country
+ date_of_birth (date) - date_of_birth YYYY-MM-DD 

+ Response 200 (application/json)

        {"success":"1","message":"Personal Information Updated"}
      
      
## Get School Public Profile [/publicprofiles/school?access_token=your_access_token&school_id=1]

### Get School Public Profile [GET]

This action returns School public profile.

+ school_id (int) - target school id.

        


        
+ Response 200 (application/json)

        [
            {
                "City": {
                    "ID": "3174",
                    "Name_English": "Jeddah",
                    "Name_Arabic": "جدة",
                    "Country_Id": "186",
                    "CountryCode": "SAU",
                    "District": "Mekka",
                    "mawhiba_id": "2"
                },
                "Country": {
                    "ID": "186",
                    "Name_English": "Saudi Arabia",
                    "Name_Arabic": "المملكة العربية السعودية",
                    "Code": "SAU",
                    "Code2": "SA",
                    "Continent": "Asia",
                    "Region": "Middle East"
                }
            },
            [
                {
                    "Eportfolio": {
                        "id": "4",
                        "title": "t22",
                        "brief": "t22",
                        "details": "<p>\r\n\tt22</p>\r\n",
                        "user_id": "31",
                        "user_role_id": "2",
                        "reference_type": "Eportfolio",
                        "reference_sub_type": null,
                        "reference_id": null,
                        "type_id": "1",
                        "course_id": null,
                        "semester_id": "1",
                        "school_id": "1",
                        "level_id": null,
                        "attachment_id": null,
                        "date": "2017-07-24 11:58:00",
                        "status": "1",
                        "sharing_status": "3",
                        "eportfolio": true,
                        "image": null,
                        "deleted": false,
                        "modified": "2017-07-24 11:59:18",
                        "created": "2017-07-24 11:59:18",
                        "total_views": "0"
                    },
                    "Attachment": {
                        "id": null,
                        "original_filename": null,
                        "created": null,
                        "title": null,
                        "comments": null,
                        "deleted": null,
                        "type": null,
                        "type_reference_id": null,
                        "content_type": null,
                        "publish_date": null,
                        "sharing_status": null,
                        "user_id": null,
                        "school_id": null,
                        "original_attachment": null,
                        "duplicate_stss": null,
                        "id_hash": null,
                        "semester_id": null,
                        "file_hash": null,
                        "missing": null,
                        "duplicate_xtxs": null,
                        "blocked": null,
                        "preparation_id": null,
                        "course_id": null,
                        "expiry_date": null,
                        "allow_download": null,
                        "publish_date_Ymd": null
                    },
                    "EportfolioType": {
                        "id": "1",
                        "type_eng": "Homework",
                        "type_ara": "وظيفة"
                    },
                    "Tag": []
                },
                {
                    "Eportfolio": {
                        "id": "3",
                        "title": "test EPortfolio",
                        "brief": "test EPortfolio test EPortfolio test EPortfolio test EPortfolio test EPortfolio test EPortfolio test EPortfolio test EPortfolio test EPortfolio test EPortfolio test EPortfolio test EPortfolio ",
                        "details": "<p>\r\n\ttest EPortfoliotest EPortfoliotest EPortfoliotest EPortfoliotest EPortfoliotest EPortfoliotest EPortfolio</p>\r\n",
                        "user_id": "31",
                        "user_role_id": "2",
                        "reference_type": "Eportfolio",
                        "reference_sub_type": null,
                        "reference_id": null,
                        "type_id": "2",
                        "course_id": null,
                        "semester_id": "1",
                        "school_id": "1",
                        "level_id": null,
                        "attachment_id": null,
                        "date": "2017-07-21 09:08:00",
                        "status": "1",
                        "sharing_status": "2",
                        "eportfolio": true,
                        "image": null,
                        "deleted": false,
                        "modified": "2017-07-21 09:10:09",
                        "created": "2017-07-21 09:10:09",
                        "total_views": "5"
                    },
                    "Attachment": {
                        "id": null,
                        "original_filename": null,
                        "created": null,
                        "title": null,
                        "comments": null,
                        "deleted": null,
                        "type": null,
                        "type_reference_id": null,
                        "content_type": null,
                        "publish_date": null,
                        "sharing_status": null,
                        "user_id": null,
                        "school_id": null,
                        "original_attachment": null,
                        "duplicate_stss": null,
                        "id_hash": null,
                        "semester_id": null,
                        "file_hash": null,
                        "missing": null,
                        "duplicate_xtxs": null,
                        "blocked": null,
                        "preparation_id": null,
                        "course_id": null,
                        "expiry_date": null,
                        "allow_download": null,
                        "publish_date_Ymd": null
                    },
                    "EportfolioType": {
                        "id": "2",
                        "type_eng": "Research",
                        "type_ara": "بحث"
                    },
                    "Tag": []
                },
                {
                    "Eportfolio": {
                        "id": "2",
                        "title": "Test new",
                        "brief": "test test",
                        "details": "<p>\r\n\tdetails</p>\r\n",
                        "user_id": "34",
                        "user_role_id": "6",
                        "reference_type": "Eportfolio",
                        "reference_sub_type": null,
                        "reference_id": null,
                        "type_id": "1",
                        "course_id": "7",
                        "semester_id": "1",
                        "school_id": "1",
                        "level_id": null,
                        "attachment_id": "5",
                        "date": "2017-07-19 11:24:00",
                        "status": "1",
                        "sharing_status": "2",
                        "eportfolio": true,
                        "image": "IMG_1261.JPG",
                        "deleted": false,
                        "modified": "2017-07-19 11:25:30",
                        "created": "2017-07-19 11:25:30",
                        "total_views": "1"
                    },
                    "Attachment": {
                        "id": "5",
                        "original_filename": "FullSizeRender.jpg",
                        "created": "2017-07-19 11:24:41",
                        "title": "FullSizeRender.jpg",
                        "comments": null,
                        "deleted": false,
                        "type": "ePortfolio",
                        "type_reference_id": null,
                        "content_type": "image/jpeg",
                        "publish_date": "2017-07-19 11:24:41",
                        "sharing_status": "0",
                        "user_id": "34",
                        "school_id": "1",
                        "original_attachment": null,
                        "duplicate_stss": false,
                        "id_hash": null,
                        "semester_id": null,
                        "file_hash": null,
                        "missing": false,
                        "duplicate_xtxs": false,
                        "blocked": false,
                        "preparation_id": "2",
                        "course_id": null,
                        "expiry_date": null,
                        "allow_download": "1",
                        "publish_date_Ymd": "2017-07-19"
                    },
                    "EportfolioType": {
                        "id": "1",
                        "type_eng": "Homework",
                        "type_ara": "وظيفة"
                    },
                    "Tag": []
                }
            ],
            {
                "School": {
                    "id": "1",
                    "name": "Classera",
                    "english_name": "Classera",
                    "prefix": "cls",
                    "city": "Jeddah",
                    "country_id": "186",
                    "city_id": "3174",
                    "school_group_id": "106",
                    "management": true,
                    "number": "0",
                    "address": "",
                    "about_school": "",
                    "phone_number": "",
                    "fax_number": "",
                    "email": "",
                    "website": "",
                    "logo": "https://s3.amazonaws.com/classera/1/Schlogo/1.png",
                    "lang": "ara",
                    "timezone": "Asia/Riyadh",
                    "date_format": "1",
                    "type": "0",
                    "registration_open": "1",
                    "created": "2017-06-01 00:00:00",
                    "modified": "2017-07-20 09:39:49",
                    "pioneer_id": null,
                    "facebook_account": " ",
                    "twitter_account": " ",
                    "google_plus_account": " ",
                    "instagram_account": " ",
                    "linkedin_account": " ",
                    "allow_users_open_publicprofile": "1",
                    "allow_users_upload_eportfolios": "1",
                    "allow_users_upload_posts": "1",
                    "publicprofiles_privecy_level_id": "2",
                    "allow_students_change_password": "1",
                    "allow_teachers_change_password": "1",
                    "allow_others_change_password": "1",
                    "allow_students_change_login_name": "1",
                    "allow_teachers_change_login_name": "1",
                    "allow_others_change_login_name": "1",
                    "allow_students_change_profile_pic": "1",
                    "show_american_question_bank": true,
                    "allow_smart_mate_generation": true,
                    "allow_teacher_to_link_preparation_standards": true,
                    "deleted": false,
                    "id_hash": "1",
                    "gpa_base": "4.00",
                    "allow_students_change_phone_number": true,
                    "allow_parents_change_phone_number": true,
                    "sms_sender_name": "",
                    "allow_tsupv_approve_preparation": false,
                    "allow_discussion_board": true,
                    "allow_students_create_discussions": true,
                    "absences_notification_limit": "0",
                    "lectures_absences_notification_limit": "0",
                    "absences_notification_excused": false,
                    "lectures_absences_notification_excused": false,
                    "absences_notification": true,
                    "lectures_absences_notification": true,
                    "allow_tsupv_show_messages_between_teachers_and_students": false,
                    "is_mawhiba_olympics_exam_school": "0",
                    "mawhiba_portal_exam_id": null,
                    "allow_managers_add_announcements": false,
                    "allow_reset_password_via_sms": true
                }
            }
        ]


## Group Absences

Resources related to users absences in the API.

## Add absence [/absences/add_absence?access_token=your_access_token]

### Add absence  [POST]

This action allows to add a new section

+ user_id: 100 (optional, intger)
+ date: 2015-6-21 (required, date [yyyy-mm-dd])
+ excused: 1 or 0 (required, intger) 
+ comments: comments (optional, string)


+ Response 200 (application/json)

        {"message":"Absence has been saved"}
   
## Pioneer add absence [/absences/pioneer_add_absence?access_token=your_access_token]

### Pioneer add absence  [POST]

This action allows to edit course

+ pioneer_id: 100 (optional, intger)
+ government_id: 100 (optional, intger)
+ date: 2015-6-21 (required, date [yyyy-mm-dd])
+ excused: 1 or 0 (required, intger) 
+ comments: comments (optional, string)




+ Response 200 (application/json)

        {"message":"Absence has been saved"} 
        
## Get Daily Absences [/absences/get_daily_absences?user_id=100&semester_id=32&access_token=your_access_token]

+ Parameters :
    + user_id: 100 (required, number) - User ID  in form of an integer
    + semester_id: 100 (required, number) - Semester ID in form of an integer

### Get Daily Absences [GET]

This action allows you to get daily absences for student in specific semester.

+ user_id (int) - user_id
+ semester_id (int) - semster_id

+ Response 200 (application/json)

        [{"StudentAbsencesView":{"id":"28","date":"2014-10-16","excused":false,"comments":null}},{"StudentAbsencesView":{"id":"85","date":"2014-12-03","excused":true,"comments":null}}]

        

## Get Courses Absences [/absences/get_courses_absences?user_id=100&semester_id=32&access_token=your_access_token]

+ Parameters : 
    + user_id: 100 (required, number) - User ID  in form of an integer
    + semester_id: 100 (required, number) - Semester ID in form of an integer

### Get Courses Absences [GET]

This action allows you to get courses absences for student in specific semester.

+ user_id (int) - user_id
+ semester_id (int) - semster_id

+ Response 200 (application/json)

        [{"StudentCoursesView":{"id":"28","date":"2014-10-16","excused":false,"comments":null}},{"StudentAbsencesView":{"id":"85","date":"2014-12-03","excused":true,"comments":null}}]


## Group Attachments               
Resources related to attachments in the API.

## Get user attachments [/attachments/get_attachments?user_id=12&semester_id=10&course_id=121&type=Video&access_token=your_access_token]

+ Parameters :
    + user_id: 100 (required, number) - User ID of the user in form of an integer
    + course_id: 100 (optional, number) - Course Id of the user in form of an integer
    + semester_id: 100 (required, number) - Semester Id of the user in form of an integer
    + type: Video (optional, string) - Attachment type ('Video','Message','Scorm','Behavior','Material') of the user in form of a string

### Get User Attachments [GET]

This action allows to get users attachments in a specific semester 

+ user_id (int) - user_id
+ semester_id (int) - semester_id
+ course_id (int) - course_id
+ type (string) - type

+ Response 200 (application/json)

        [{"Attachment":{"id":"1","original_filename":"mJaHARCfcA0","created":"2014-10-16 13:31:10","title":"test","comments":"","deleted":false,"type":"Video","content_type":"YouTube","publish_date":"0000-00-00 00:00:00","sharing_status":"2","user_id":"10564","school_id":"16","original_attachment":null,"duplicate_stss":false,"id_hash":null,"semester_id":"32","file_hash":null,"missing":false,"duplicate_xtxs":false,"blocked":false,"preparation_id":"1","publish_date_Ymd":"2014-10-16"}},{"Attachment":{"id":"2","original_filename":"lynbTm_XPEc","created":"2014-10-20 11:41:34","title":"\u0628\u0633\u0645 \u0627\u0644\u0644\u0647","comments":"","deleted":false,"type":"Video","content_type":"YouTube","publish_date":"0000-00-00 00:00:00","sharing_status":"2","user_id":"17103","school_id":"22","original_attachment":null,"duplicate_stss":false,"id_hash":null,"semester_id":"64","file_hash":null,"missing":false,"duplicate_xtxs":false,"blocked":false,"preparation_id":null,"publish_date_Ymd":"2014-10-20"}},{"Attachment":{"id":"3","original_filename":"20130523_113607.mp4","created":"2014-10-21 18:42:35","title":"test","comments":"tttttttttt","deleted":false,"type":"Video","content_type":"video\/mp4","publish_date":"0000-00-00 00:00:00","sharing_status":"2","user_id":"10564","school_id":"16","original_attachment":null,"duplicate_stss":false,"id_hash":null,"semester_id":"32","file_hash":"267130a9cd943b7f0ccccf2cab26ef46","missing":false,"duplicate_xtxs":false,"blocked":false,"preparation_id":"1","publish_date_Ymd":"2014-10-21"}},{"Attachment":{"id":"4","original_filename":"mJaHARCfcA0","created":"2014-12-07 16:06:28","title":"\u062d\u0635\u0629 \u0631\u0627\u0626\u0639\u0629","comments":"","deleted":false,"type":"Video","content_type":"YouTube","publish_date":"0000-00-00 00:00:00","sharing_status":"2","user_id":"10564","school_id":"16","original_attachment":null,"duplicate_stss":true,"id_hash":null,"semester_id":"32","file_hash":null,"missing":false,"duplicate_xtxs":true,"blocked":true,"preparation_id":"9","publish_date_Ymd":"2014-12-07"}},{"Attachment":{"id":"5","original_filename":"pqzxODkBGfM","created":"2014-12-25 18:49:22","title":"\u0639\u0646\u0648\u0627\u0646 \u0637\u0648\u064a\u064a\u064a\u064a\u064a\u064a\u064a\u064a\u064a\u064a\u064a\u0644 \u062c\u062f\u0627 \u062c\u062f\u0627 \u062c\u062f\u0627 \u0623\u0648\u064a \u062e\u0627\u0644\u0635","comments":"","deleted":false,"type":"Video","content_type":"YouTube","publish_date":"0000-00-00 00:00:00","sharing_status":"2","user_id":"10564","school_id":"16","original_attachment":null,"duplicate_stss":false,"id_hash":null,"semester_id":"32","file_hash":null,"missing":false,"duplicate_xtxs":false,"blocked":false,"preparation_id":null,"publish_date_Ymd":"2014-12-25"}}]

##  Download Attachments [/attachments/download_attachment?attachment_id=12&access_token=your_access_token]

+ Parameters :
    + attachment_id: 100 (required, number) - Attachment ID in form of an integer
   

### Download Attachments [GET]

This action allows to download attachment

+ attachment_id (int) - user_id

+ Response 200 (application/json)

        {"download_url":"https:\/\/s3.amazonaws.com\/classera\/16\/behavior\/32.pdf?response-content-disposition=attachment%3Bfilename%3D%22kajfaslksdjpoiwjeflaskdjfpowiejfskajdfaslkjdfpaoiefasdjfalksjdfasjdfjaspdifhasdfaskjdfalksdjflasdjfasdpfijad.pdf%22&AWSAccessKeyId=AKIAINQWGSCNCBOYK2PQ&Expires=1433933268&Signature=aAio8k3EsrXbkQ7sEdmZ0XpU0cQ%3D"}

##  View attachment [/attachments/view_attachment?attachment_id=12&access_token=your_access_token]

+ Parameters : 
    + attachment_id: 100 (required, number) - Attachment ID in form of an integer
   

### View attachment [GET]

This action allows to view attachment

+ attachment_id (int) - user_id

+ Response 200 (application/json)

        {"Attachment":{"id":"32","original_filename":"kajfaslksdjpoiwjeflaskdjfpowiejfskajdfaslkjdfpaoiefasdjfalksjdfasjdfjaspdifhasdfaskjdfalksdjflasdjfasdpfijad.pdf","created":"2015-02-19 09:07:49","title":"kajfaslksdjpoiwjeflaskdjfpowiejfskajdfaslkjdfpaoiefasdjfalksjdfasjdfjaspdifhasdfaskjdfalksdjflasdjfasdpfijad.pdf","comments":null,"deleted":false,"type":"Behavior","content_type":"application\/pdf","publish_date":"2015-02-19 09:07:49","sharing_status":"0","user_id":"39674","school_id":"16","original_attachment":null,"duplicate_stss":false,"id_hash":null,"semester_id":null,"file_hash":null,"missing":false,"duplicate_xtxs":false,"blocked":false,"preparation_id":null,"publish_date_Ymd":"2015-02-19"}}


## Get student material list  [/Attachments/get_student_material_list?user_id=100&access_token=your_access_token]

+ Parameters :
    + user_id: 100 (required, number) - ID of the user in form of an integer
   

### Get student material list  [GET]
This action allows to get material list.

+ user_id (int) - user_id


+ Response 200 (application/json)
        
        {"course_material": [{"StudentReadNotifDocView": {"id": "2827098","attach_type": "Material","attach_title": "الخزف","course_title": "Math-101","attach_created": "2016-01-26 11:50:26","teacher_name": "Tom   Friedman","likes": "2"}},{"StudentReadNotifDocView": {"id": "2827098","attach_type": "Material","attach_title": "الخزف","course_title": "Math-101","attach_created": "2016-01-26 11:50:26","teacher_name": "Tom   Friedman","likes": "2"}}],"count": 15}


## Get student material by search  [/Attachments/get_student_material_by_search?user_id=100&course_id=1&text=hi&access_token=your_access_token]

+ Parameters :
   + user_id: 100 (required, number) - ID of the user in form of an integer
   + course_id :1 (optional, number) - course id 
   + text : hi (optional , string) - text is the attachment title 

### Get student material by search  [GET]
This action allows to search in  material list.

+ user_id (int) - user_id
+ course_id (int) - course_id
+ text (string) - text 


+ Response 200 (application/json)

        [{"StudentReadNotifDocView":{"id":"3145800","attach_type":"Material","attach_title":"how use it","attach_created":"2016-08-17 11:21:26","teacher_name":"Tom   Friedman","likes":"0","course_title":"Math-101"}}]


## Get student all video lecture  [/Attachments/get_student_all_video_lecture?user_id=100&access_token=your_access_token]

+ Parameters :
    + user_id: 100 (required, number) - ID of the user in form of an integer
   

### Get student all video lecture  [GET]
This action allows to get  student all video lectures.

+ user_id (int) - user_id


+ Response 200 (application/json)
        
        
        {"video_lectures": [{"StudentReadNotifVideoView": {"id": "3145706","attach_type": "Video","attach_title": "Tommato2","attach_created": "2016-06-15 12:35:22","course_title": "Math-101","teacher_name": "Tom   Friedman","content_type": "YouTube","likes": "0","att_url": "http://www.youtube.com/watch?v=uyezuHhSMGs"}},{"StudentReadNotifVideoView": {"id": "2690369","attach_type": "Video","attach_title": "lesson 29","attach_created": "2015-12-29 08:28:39","course_title": "English-101","teacher_name": "Tom   Friedman","content_type": "YouTube","likes": "1","att_url": "http://www.youtube.com/watch?v=8F0NYBBKczM"}}],"count": 37}


## Get student video lecture by search  [/Attachments/get_student_video_lecture_by_search?user_id=100&course_id=1&text=hi&created=2015-10-22 11:50:00&access_token=your_access_token]

+ Parameters :
   + user_id: 100 (required, number) - ID of the user in form of an integer
   + course_id : 1 (optional, number) - course id 
   + text : hi (optional , string) - text is the attachment title 
   + created : 2015-10-22 11:50:00  (optional , date) - date
### Get student video lecture by search  [GET]
This action allows to search in   video lecture.

+ user_id (int) - user_id
+ course_id (int) - course_id
+ text (string) - text
+ created (date) - date

+ Response 200 (application/json)
        
        [{"StudentReadNotifVideoView":{"id":"1843509","attach_type":"Video","attach_title":"Test video","attach_created":"2015-10-22 11:50:00","course_id":"7127","teacher_name":"Tom   Friedman","content_type":"video\/mp4","likes":"0","course_title":"Math-101"}}]

## Get attachment details  [/Attachments/get_attachment_details?user_id=100&attachment_id=3145706&access_token=your_access_token]

+ Parameters : 
    + user_id: 100 (required, number) - ID of the user in form of an integer
    + attachment_id: 3145706 (required, number) - ID of the attachment 

### Get attachment details  [GET]
This action allows to get  student  attachment details.

+ user_id (int) - user_id
+ attachment_id (int) - attachment_id 

+ Response 200 (application/json)
        
        [{"Attachment": {"type": "Video","title": "Tommato2","user_id": "78934","comments": "","created": "2016-06-15 12:35:22","course_id": "7127","original_filename": "uyezuHhSMGs","content_type": "YouTube","course_title": "Math-101","i_likes": false,"i_understand": false,"likes": "0","understand": "0","att_url": "http://www.youtube.com/watch?v=uyezuHhSMGs"},"User": {"id": "78934","first_name": "Tom","family_name": "Friedman","image_url": "https://s3.amazonaws.com/classera/111/profilepic/thumb_130/78934.jpg?response-content-disposition=attachment%3Bfilename%3D%2293105f8e5b940e2b2ed489ffae17da2d.jpg%22&AWSAccessKeyId=AKIAINQWGSCNCBOYK2PQ&Expires=1468843595&Signature=eVy9i0CqP2sI6TnA2WNlC6HVeJc%3D"}}]    

## Get attachment comments  [/Attachments/get_attachment_comments?user_id=100&attachment_id=3145706&access_token=your_access_token]

+ Parameters :
    + user_id: 100 (required, number) - ID of the user in form of an integer
    + attachment_id: 3145706 (required, number) - ID of the attachment 

### Get attachment comments  [GET]
This action allows to get attachment comments.

+ user_id (int) - user_id
+ attachment_id (int) - attachment_id 

+ Response 200 (application/json)
        
        {"comment": [{"AttachmentComment": {"text": "Test","created": "2016-07-04 11:21:05","approved": "0"},"User": {"id": "78785", "first_name": "Adam","family_name": "Fields","image_url": "https://s3.amazonaws.com/classera/111/profilepic/thumb_130/78785.jpg?response-content-disposition=attachment%3Bfilename%3D%22images_%281%29.jpg%22&AWSAccessKeyId=AKIAINQWGSCNCBOYK2PQ&Expires=1468844266&Signature=1bm9wvH1aDVAWVvSgoiV3PSyMZ0%3D"}}],"count": 2}

## Add reaction [/Attachments/add_reaction?access_token=your_access_token]

### Add reaction  [POST]
This action allows to add like , unlike understand and understand.

+ user_id: 100 (required, intger) 
+ attachment_id: 100 (required, intger) 
+ type (required, intger) : 1 
 
+ Response 200 (application/json)
        
        { "message": "Success Insert" }

## Add attachment comment [/Attachments/add_attachment_comment?access_token=your_access_token]

### Add attachment comment  [POST]
This action allows student to add comment to attachment .

+ user_id: 100 (required, intger) 
+ attachment_id: 100 (required, intger) 
+ text: "hi" (required, string) : 1 
 
+ Response 200 (application/json)
        
         { "message": "Success Insert comment " }

## Group Guardians               
Resources related to guardians in the API.

## Get Children [/guardians/get_chidlren?user_id=12&access_token=your_access_token]

+ Parameters :
    + user_id: 100 (required, number) - User ID of the user in form of an integer
    
### Get Children [GET]

This action allows to get gurdian's children in the system

+ user_id (int) - user_id


+ Response 200 (application/json)

        [{"Student":{"id":"3124","number":"2000","english_first_name":"Montaser","english_father_name":"MHD","english_grandfather_name":"Essam","english_family_name":"Al Sawi","user_id":"10434","guardian_id":null,"admission_year":"35","academic_number":null,"created":"0000-00-00 00:00:00","modified":"0000-00-00 00:00:00"},"User":{"id":"10434","nationality_id":"1","mawhiba_id":null,"username":"fdtsts0001","password":"45e068b5c30decd5883ff5bfa4aa20f74c6e392e","notification_settings":"1023","created":"2011-12-31 12:58:20","modified":"2013-09-19 18:43:21","role_id":"6","school_id":"16","first_name":"\u0645\u0646\u062a\u0635\u0631 ","father_name":"\u0645\u062d\u0645\u062f","grandfather_name":"\u0639\u0635\u0627\u0645","family_name":"\u0627\u0644\u0635\u0627\u0648\u064a","name_ara":null,"date_of_birth":"2001-03-07","place_of_birth":"","address":"","phone_number":"","mobile_number":"","email":"","verified_email":false,"dob_hijri":null,"photo_filename":"N\u00e9nuphars.jpg","theme_id":"1","deleted":false,"status_id":"1","lang":null,"date_format":"0","login_name":null,"google_token":null,"block_reports":false,"number":null,"old_school_id":null,"gender":"0","profilepic":"\/img\/thumb.png"},"Level":[{"id":"217","title":"\u0627\u0644\u062b\u0627\u0644\u062b \u0627\u0644\u0645\u062a\u0648\u0633\u0637","title_ara":null,"stage_id":"86","order":"6","created":"0000-00-00 00:00:00","modified":"0000-00-00 00:00:00","StudentsLevel":{"id":"2599","student_id":"3124","year_id":"35","level_id":"217","status":null,"created":"0000-00-00 00:00:00","modified":"0000-00-00 00:00:00"}}]}]


## Get get student gurdians [/guardians/get_student_gurdians?user_id=12&access_token=your_access_token]

+ Parameters :
    + user_id: 100 (required, number) - User ID of the user in form of an integer
    
### Get get student gurdians [GET]

This action allows to get student's gurdians detials

+ user_id (int) - user_id


+ Response 200 (application/json)

        [{"User":{"id":"10443","mawhiba_id":"0","pioneer_id":"0","username":"fdtstg0002","password":"45e068b5c30decd5883ff5bfa4aa20f74c6e392e","notification_settings":"1023","created":"2011-12-31 13:18:55","modified":"2015-05-12 13:13:20","role_id":"3","school_id":"16","first_name":"\u0646\u0627\u064a\u0641","father_name":"\u062d\u0645\u062f","grandfather_name":"\u0627\u0628\u0631\u0627\u0647\u064a\u0645","family_name":"\u0627\u0644\u062f\u0644\u064a\u062c\u0627\u0646","name_ara":null,"date_of_birth":"2011-12-31","place_of_birth_country":null,"place_of_birth":"","address":"","phone_number":"","mobile_number":"0505656108","email":null,"verified_email":false,"nationality_id":"1","dob_hijri":null,"photo_filename":"Photo1.jpg","theme_id":"1","deleted":false,"status_id":"1","lang":"eng","date_format":"0","login_name":"","google_login_token":null,"google_token":null,"block_reports":false,"number":"","old_school_id":null,"gender":"0","bio":null,"facebook_account":null,"twitter_account":null,"google_plus_account":null,"instagram_account":null,"linkedin_account":null,"full_name":"\u0646\u0627\u064a\u0641 \u062d\u0645\u062f \u0627\u0628\u0631\u0627\u0647\u064a\u0645 \u0627\u0644\u062f\u0644\u064a\u062c\u0627\u0646"}},{"User":{"id":"39809","mawhiba_id":"0","pioneer_id":"0","username":"fdtstg1608","password":"3159fd6e22a3be5daa3c9a2397bd65fbe49a5b23","notification_settings":"1023","created":"2013-12-01 15:45:52","modified":"2014-06-07 23:51:50","role_id":"3","school_id":"16","first_name":"\u0645\u0627\u0647\u0631 \u0628\u0646","father_name":"\u0639\u0628\u062f \u0631\u0628 \u0627\u0644\u0631\u0636\u0627","grandfather_name":"","family_name":"\u0628\u0648\u0639\u0644\u064a","name_ara":null,"date_of_birth":"2014-06-07","place_of_birth_country":null,"place_of_birth":"","address":"","phone_number":"966555856777","mobile_number":"966555856777","email":"","verified_email":false,"nationality_id":"1","dob_hijri":null,"photo_filename":null,"theme_id":"1","deleted":false,"status_id":"1","lang":null,"date_format":"0","login_name":"","google_login_token":null,"google_token":null,"block_reports":false,"number":null,"old_school_id":null,"gender":"0","bio":null,"facebook_account":null,"twitter_account":null,"google_plus_account":null,"instagram_account":null,"linkedin_account":null,"full_name":"\u0645\u0627\u0647\u0631 \u0628\u0646 \u0639\u0628\u062f \u0631\u0628 \u0627\u0644\u0631\u0636\u0627 \u0628\u0648\u0639\u0644\u064a"}}]



## Group Behaviors               
Resources related to behaviors in the API.

## Get Student Behaviors [/behaviors/get_student_behaviors?user_id=12&show_to_guardian=1&semester_id=32&access_token=your_access_token]

+ Parameters :
    + user_id: 100 (required, number) - User ID of the user in form of an integer
    + semester_id: 100 (required, number) - Semester ID in form of an integer
    + show_to_guardian : 1 (required, number) - show_to_guardian in form of an integer of 0 or 1
    
### Get Student Behaviors  [GET]

This action allows to get student behaviors in the system

+ user_id (int) - user_id
+ semester_id (int) - semester_id


+ Response 200 (application/json)

        [{"StudentBehavior":{"id":"3","date":"2015-02-19"},"Behavior":{"title":"\u0645\u0634\u0627\u063a\u0628\u0629 \u062f\u0627\u062e\u0644 \u0627\u0644\u0641\u0635\u0644","BehaviorGroup":[]},"Action":{"title":null},"Student":[]},{"StudentBehavior":{"id":"4","date":"2015-04-21"},"Behavior":{"title":"\u0645\u0634\u0627\u063a\u0628\u0629 \u062f\u0627\u062e\u0644 \u0627\u0644\u0641\u0635\u0644","BehaviorGroup":[]},"Action":{"title":null},"Student":[]},{"StudentBehavior":{"id":"9","date":"2015-03-15"},"Behavior":{"title":"\u0645\u0634\u0627\u063a\u0628\u0629 \u062f\u0627\u062e\u0644 \u0627\u0644\u0641\u0635\u0644","BehaviorGroup":[]},"Action":{"title":null},"Student":[]}]
        
## Add Student Behavior [/Behaviors/add_student_behavior?access_token=your_access_token]
This action allows you to add a student behavior to classera system from your website.
### Add Student Behavior [POST]

+ student_id (int, required) - Student's User id.
+ behavior_id (string, required) - Behavior id.
+ action_id (int) - Action id.
+ created_by (int) - User id of the recorder of said behavior.
+ year_id (int, required) - Year id.
+ show_to_guardian (int, required) - [1 => show, 0=> hide].
+ show_to_student (int) - [1 => show, 0=> hide].
+ blocked (int, required) - [1 => blocked, 0 => not blocked].
+ blocked_by (int, required if blocked) - blocker user id.
+ blocked_reason (string) - Blocking reason. 
+ lecture_id (int) - lecture id associated with said behavior.
+ timeslot_id (int) - timeslot id associated with said behavior.
+ semester_id (int, required) - Semester associated with said behavior.
+ date (date, required, Format: YYYY-MM-DD, required) - behavior date.
+ details (string, required) - behavior details. 
+ attachment_id (int) - Attachment id associated with said behavior.

+ Response 200 (application/json)

        {"status":"success","message":"Behavior added successfully"}
        
        


## Edit Student Behavior [/Behaviors/edit_student_behavior?access_token=your_access_token]
### Edit Student Behavior [POST]

This action allows you to edit a student behavior to classera system from your website.
+ id (string, required) - Behavior ID
+ student_user_id (string, required) - User ID
+ behavior_id (string) - the ID of a behavior type 
+ grandfather_name (string) - grandfather_name 
+ details (string) - details of the behavior 
+ date (date) - date YYYY-MM-DD
+ show_to_guardian (int) - [1 => show, 0=> hide]
+ show_to_student (int) - [1 => show, 0=> hide] 

+ Response 200 (application/json)

        {"success":"1","message":"Behavior Updated"}
        
## Behavior Summary [/Behaviors/behaviors_summary?access_token=your_access_token]

+ Parameters :
    + user_id:100 (string, required) - user id of adviser, school admin or manager.
    + semester_id:1 (string) - the default is the current semeter
    + from:2017-1-1 (date, YYYY-MM-DD) - a starting date for query (if used 'to' is required)
    + to:2017-2-1 (date, YYYY-MM-DD) - an ending date for query (if used 'from' is required)

### Behavior Summary [GET]

This action allows you to get report of behavior for your students from classera to your website.

+ user_id (string, required) 
+ semester_id (string) 
+ from (date, YYYY-MM-DD) 
+ to (date, YYYY-MM-DD)
        
+ response 200 (application/json)

            {
        "StudentBehaviorsView": {
            "id": "107",
            "student_id": "6",
            "full_name": "mohammed jamal aziz janbi",
            "name_ara": "محمد جمال عبدالعزيز جنبي",
            "level_id": "1",
            "level_title": "Grade 7",
            "section_id": "1",
            "section_title": "A",
            "behavior_id": "1",
            "behavior_title": "اجتهاد الطالب في النشاطات المدرسية - student participated always in school activities  ",
            "behavior_points": "1",
            "action_id": "1",
            "action_title": "الإجراء الأول First procedure ",
            "behavior_type": "1",
            "behavior_group_title": "السلوكيات الايجيابية - Positive Behaviors ",
            "show_to_guardian": false,
            "date": "2017-08-08",
            "details": "You are awesome HERO",
            "attachment_id": null,
            "created_by": "6",
            "created_by_role": "Teacher",
            "created_by_full_name": "Peter   Jan",
            "school_id": "1",
            "semester_id": "1",
            "year_id": "1"
                                }
            }
        
## Group Reports
Resources related to Reports in the API.

## Compare General Schools Activation Records for Admin/Manager's Schools [/Reports/compare_activation_percentages?access_token=your_access_token]
An API function for admins and managers to show a comparison between the activation percentages in all current semesters of all the schools that belongs to them.

+ user_id : 100 (required, int) - Admin or Manager User id.
+ start : 2017-8-1 (date) - start date, default: one week from current date.
+ end : 2017-8-2 (date) - end date, default: current date.

### Compare Activation Percentages [GET]

+ Parameters :
    + user_id (int)
    + start  (date)
    + end   (date)
+ response 200 (application/json)

        [
            {
                "rank": 1,
                "school_id": 1,
                "school_name": "Classera Dummy School 1",
                "teachers_activation_percent": 66.67,
                "students_activation_percent": 100,
                "students_participation_percent": 2.94,
                "overall_activation_percent": 78.57
            },
            {
                "rank": 2,
                "school_id": 8,
                "school_name": "Classera Dummy School 2",
                "teachers_activation_percent": 0,
                "students_activation_percent": 0,
                "students_participation_percent": 0,
                "overall_activation_percent": 0
            }
        ]

## Supervisor Activation [/Reports/schadmin_tsupv_viewing_report?access_token=your_access_token]

+ Parameters :
    + user_id: 100 (required, number)
    + start: 2017-1-1 (date)
    + end: 2017-1-2 (date)

### Supervisor Activation [GET]

This action allow you to generate reports about the supervisors activities in Classera from your website.

+ user_id: (int)
+ start: (date, format: YYYY-MM-DD)
+ end: (date, format: YYYY-MM-DD)
    
+ Response 200 (application/json)

        {"tsupv_viewing_data": {"data_count_for_tsupvs": {"100": {"assignments": 3,"preparations": 0,"attachments": 3}},"viewed_data_count_for_tsupvs": {"100": {"assignments": 2,"preparations": 0,"attachments": 1}}},"supervisors_names": {"100": "Supervisor Name"}}
    
## Group Years               
Resources related to behaviors in the API.

## Get year semester [/years/get_year_semesters?year_id=67&access_token=your_access_token]

+ Parameters :
    + year_id: 100 (required, number)
    
### Get Student Behaviors  [GET]

This action allows to get all semesters in a specific year

+ year_id (int) - year_id


+ Response 200 (application/json)

        ["87","987"]

## Get pioneer current semester and year ID [/years/get_pioneer_current_semester_year_id?school_refrence_id=67&access_token=your_access_token]

+ Parameters :
    + school_refrence_id: 100 (required, number)
    
### Get pioneer current semester and year ID  [GET]

This action allows to get current semesters in a specific year

+ school_refrence_id (int) - school_refrence_id


+ Response 200 (application/json)

        {"semester_id":"32","year_id":"35"}
        
## Group Stages               
Resources related to behaviors in the API.

## Get stage [/stages/get_stage?stage_id=67&access_token=your_access_token]

+ Parameters :
    + stage_id: 100 (required, number)
    
### Get stage Data  [GET]

This action allows to get stage data in the system

+ stage_id (int) - stage_id


+ Response 200 (application/json)

        {"id":"12","title":"\u0627\u0644\u0627\u0628\u062a\u062f\u0627\u0626\u064a","title_ara":null,"school_id":"8","type":"0","order":"0","created":"0000-00-00 00:00:00","modified":"0000-00-00 00:00:00","pioneer_id":null,"school_pioneer_id":null}
        
## Get school stages [/stages/get_school_stages?school_id=67&access_token=your_access_token]

+ Parameters :
    + school_id: 100 (required, number) 
    
### Get school stages  [GET]

This action allows to get stage data in the system

+ school_id (int) - school_id


+ Response 200 (application/json)

        [{"Stage":{"id":"796","title":"test1221","title_ara":"","school_id":"211","type":"0","order":"0","created":"2015-10-29 12:16:52","modified":"2015-10-29 13:11:59","pioneer_id":"1231","school_pioneer_id":"12"},"School":{"id":null,"name":null,"english_name":null,"number":null,"address":null,"phone_number":null,"fax_number":null,"website":null,"school_group_id":null,"created":null,"logo":null,"prefix":null,"lang":null,"timezone":null,"date_format":null,"type":null,"registration_open":null,"modified":null,"city":null,"city_id":null,"pioneer_id":null},"Level":[],"ExpenseCategory":[]},{"Stage":{"id":"797","title":"test1","title_ara":"test","school_id":"211","type":"0","order":"0","created":"2015-10-29 13:05:54","modified":"2015-10-29 13:05:54","pioneer_id":"1231","school_pioneer_id":"12"},"School":{"id":null,"name":null,"english_name":null,"number":null,"address":null,"phone_number":null,"fax_number":null,"website":null,"school_group_id":null,"created":null,"logo":null,"prefix":null,"lang":null,"timezone":null,"date_format":null,"type":null,"registration_open":null,"modified":null,"city":null,"city_id":null,"pioneer_id":null},"Level":[],"ExpenseCategory":[]},{"Stage":{"id":"7096","title":"test1221","title_ara":"","school_id":"211","type":"0","order":"0","created":"2015-10-29 13:12:15","modified":"2015-10-29 13:12:15","pioneer_id":"1231","school_pioneer_id":"12"},"School":{"id":null,"name":null,"english_name":null,"number":null,"address":null,"phone_number":null,"fax_number":null,"website":null,"school_group_id":null,"created":null,"logo":null,"prefix":null,"lang":null,"timezone":null,"date_format":null,"type":null,"registration_open":null,"modified":null,"city":null,"city_id":null,"pioneer_id":null},"Level":[{"id":"1303","title":"test1221","title_ara":"","stage_id":"7096","type":"0","order":"0","created":"2015-10-29 13:45:14","modified":"2015-10-29 13:45:14","pioneer_id":"1231","school_pioneer_id":"12","stage_pioneer_id":null},{"id":"1304","title":"test1221","title_ara":"","stage_id":"7096","type":"0","order":"0","created":"2015-10-29 13:45:26","modified":"2015-10-29 13:45:26","pioneer_id":"1231","school_pioneer_id":"12","stage_pioneer_id":null},{"id":"1305","title":"test1221","title_ara":null,"stage_id":"7096","type":"0","order":"0","created":"2015-10-29 13:46:05","modified":"2015-10-29 13:46:05","pioneer_id":"1231","school_pioneer_id":"12","stage_pioneer_id":null},{"id":"1306","title":"test12o21","title_ara":null,"stage_id":"7096","type":"0","order":"0","created":"2015-10-29 13:46:47","modified":"2015-10-29 15:44:00","pioneer_id":"1231","school_pioneer_id":"12","stage_pioneer_id":"21"}],"ExpenseCategory":[]}]
 
## add stage [/stages/add?access_token=your_access_token]

### Add stage  [POST]

This action allows to get stage data in the system

+ title: 100 (required, string) 
+ title_arabic: 100 (required, string)
+ school_id : 100 (required, intger)



+ Response 200 (application/json)

        {"message":"The stage has been saved","id":12340}
        
## Pioneer add stage [/stages/pioneer_add?access_token=your_access_token]

### Pioneer add stage  [POST]

This action allows to get stage data in the system

+ title: primary  (required, string) 
+ title_arabic: المرحله الابتدائيه (required, string)
+ school_id: 100 (required, intger)
+ pioneer_id: 100 (optional, intger)
+ school_pioneer_id: 100 (optional, intger)

+ Response 200 (application/json)

        {"message":"The stage has been saved","id":12340}
        
## Edit stage [/stages/edit?access_token=your_access_token]

### Edit stage  [POST]

This action allows to get stage data in the system
+ stage_id: 100 (required, string) - stage id
+ title: 100 (required, string) 
+ title_arabic: 100 (required, string)
+ school_id: 100 (required, intger)

+ Response 200 (application/json)

        {"message":"The stage has been saved"}
        
## Pioneer edit stage [/stages/pioneer_edit?access_token=your_access_token]

### Pioneer edit stage  [POST]

This action allows to get stage data in the system

+ title: example (required, string) 
+ title_arabic: example (required, string)
+ pioneer_id: 100 (optional, intger)
+ school_pioneer_id: 100 (optional, intger)

+ Response 200 (application/json)

        {"message":"The stage has been saved"}
        
## Group Levels               
Resources related to behaviors in the API.

## Get level [/levels/get_level?level_id=67&access_token=your_access_token]

+ Parameters :
    + level_id: 100 (required, number)
    
### Get level Data  [GET]

This action allows to get level data in the system

+ level_id (int) - level_id


+ Response 200 (application/json)

        {"id":"12","title":"\u0627\u0644\u0627\u0628\u062a\u062f\u0627\u0626\u064a","title_ara":null,"school_id":"8","type":"0","order":"0","created":"0000-00-00 00:00:00","modified":"0000-00-00 00:00:00","pioneer_id":null,"school_pioneer_id":null}
        
## Get stage levels [/levels/get_stage_levels?stage_id=67&access_token=your_access_token]

+ Parameters :
    + stage_id: 100 (required, number)
    
### Get stage levels  [GET]

This action allows to get all levels in a stage

+ stage_id (int) - stage_id


+ Response 200 (application/json)

        [{"Level":{"id":"498","title":"\u0627\u0644\u0635\u0641 \u0627\u0644\u0623\u0648\u0644 \u0627\u0644\u062b\u0627\u0646\u0648\u064a","title_ara":null,"stage_id":"170","type":"0","order":"0","created":"2014-09-06 13:53:59","modified":"2014-09-06 13:53:59","pioneer_id":null,"school_pioneer_id":null,"stage_pioneer_id":null},"Stage":{"id":"170","title":"\u0627\u0644\u0645\u0631\u062d\u0644\u0629 \u0627\u0644\u062b\u0627\u0646\u0648\u064a\u0629","title_ara":null,"school_id":"173","type":"0","order":"0","created":"0000-00-00 00:00:00","modified":"0000-00-00 00:00:00","pioneer_id":null,"school_pioneer_id":null},"Course":[],"Section":[{"id":"942","title":"1","title_ara":null,"level_id":"498","capacity":null,"type":"0","created":"2014-09-06 13:53:59","modified":"2014-09-06 13:53:59","pioneer_id":null,"school_pioneer_id":null,"stage_pioneer_id":null,"level_pioneer_id":null}],"StudentsLevel":[],"Student":[]}]

               
## Add level [/levels/add?access_token=your_access_token]

### Add level  [POST]

This action allows to add a new level

+ title: level 1 (required, string) 
+ title_arabic: الصف الاول (required, string)
+ stage_id: 100 (required, intger)

+ Response 200 (application/json)

        {"message":"The level has been saved","id":12340}

## Pioneer add level [/levels/pioneer_add?access_token=your_access_token]

### Pioneer Add level  [POST]

This action allows to add a new level

+ title: level 1 (required, string) 
+ title_arabic: الصف الاول (required, string)
+ pioneer_id: 100 (optional, intger)
+ school_pioneer_id: 100 (optional, intger)
+ stage_pioneer_id: 100 (optional, intger)

+ Response 200 (application/json)

        {"message":"The level has been saved","id":12340}        
               
## Edit level [/levels/edit?access_token=your_access_token]

### Edit level  [POST]

This action allows to edit level

+ level_id: 12 (required, intger) - level ID
+ title: level 1 (required, string) 
+ title_arabic: الصف الاول (required, string)
+ stage_id: 100 (required, intger)

+ Response 200 (application/json)

        {"message":"The level has been saved"}

## Pioneer edit level [/levels/pioneer_edit?access_token=your_access_token]

### Pioneer edit level  [POST]

This action allows to edit level

+ title: level 1 (required, string) 
+ title_arabic: الصف الاول (required, string)
+ pioneer_id: 100 (optional, intger)
+ school_pioneer_id: 100 (optional, intger)
+ stage_pioneer_id: 100 (optional, intger)

+ Response 200 (application/json)

        {"message":"The level has been saved"}    
        
## Edit assign student to level [/levels/edit_assign_student_to_level?access_token=your_access_token]

### Edit assign student to level  [POST]

This action allows to edit assigned student to level

+ user_id: 100 (required, int) 
+ level_id: 101 (required, int)
+ new_level_id: 102 (required, int)

+ Response 200 (application/json)

        {"message":"Student assigned to the level has been updated"}  
        
## Pioneer edit assign student to level [/levels/pioneer_edit_assign_student_to_level?access_token=your_access_token]

### Pioneer edit assign student to level  [POST]

This action allows to edit assigned student to level

+ government_id: 100 (required, int) 
+ user_pioneer_id: 101 (required, int)
+ level_pioneer_id: 100 (required, int) 
+ new_level_pioneer_id: 101 (required, int) 
+ school_pioneer_id: 100 (required, intger)
+ new_school_pioneer_id: 100 (required, intger)
+ stage_pioneer_id: 100 (required, intger)
+ new_stage_pioneer_id: 100 (required, intger)
+ level_pioneer_id: 100 (required, intger)
+ new_level_pioneer_id: 100 (required, intger)

+ Response 200 (application/json)

        {"message":"Student assigned to the level has been updated"}    
        
## Group Sections               
Resources related to behaviors in the API.

## Get section [/sections/get_section?sectoin_id=67&access_token=your_access_token]

+ Parameters :
    + sectoin_id: 100 (required, number)
    
[...]
