@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(Zd2E9abXLFGSr9G3YK2MsAkV085mIc9HMXyJQAR_rDc.eot)/*tpa=http://themes.googleusercontent.com/static/fonts/robotocondensed/v7/Zd2E9abXLFGSr9G3YK2MsAkV085mIc9HMXyJQAR_rDc.eot*/;
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(Zd2E9abXLFGSr9G3YK2MsAkV085mIc9HMXyJQAR_rDc.eot)/*tpa=http://themes.googleusercontent.com/static/fonts/robotocondensed/v7/Zd2E9abXLFGSr9G3YK2MsAkV085mIc9HMXyJQAR_rDc.eot*/ format('embedded-opentype'), url(Zd2E9abXLFGSr9G3YK2MsK8NE7_Gi-Xz52ZQ_AwfA78.woff)/*tpa=http://themes.googleusercontent.com/static/fonts/robotocondensed/v7/Zd2E9abXLFGSr9G3YK2MsK8NE7_Gi-Xz52ZQ_AwfA78.woff*/ format('woff');
}
